In [3]:
import requests
import pandas as pd
from datetime import timedelta
from datetime import datetime

In [4]:
def get_vn30f():
    def vn30f():
            return requests.get("https://services.entrade.com.vn/chart-api/chart?from=0&resolution=1&symbol=VN30F1M&to=9999999999").json()
    vn30fm = pd.DataFrame(vn30f()).iloc[:,:6]
    vn30fm['t'] = vn30fm['t'].astype(int).apply(lambda x: datetime.utcfromtimestamp(x) + timedelta(hours = 7))
    vn30fm.columns = ['Date','Open','High','Low','Close','Volume']
    ohlc_dict = {                                                                                                             
        'Open': 'first',                                                                                                    
        'High': 'max',                                                                                                       
        'Low': 'min',                                                         
        'Close': 'last',                                                                                                    
        'Volume': 'sum',}
    vn30fm = pd.DataFrame(vn30f()).iloc[:,:6]
    vn30fm['t'] = vn30fm['t'].astype(int).apply(lambda x: datetime.utcfromtimestamp(x) + timedelta(hours = 7))
    vn30fm.columns = ['Date','Open','High','Low','Close','Volume']
    return vn30fm.set_index('Date')
def get_vn30():
    def vn30():
            return requests.get("https://services.entrade.com.vn/chart-api/v2/ohlcs/index?from=0&resolution=1&symbol=VN30&to=9999999999").json()
    vn30fm = pd.DataFrame(vn30()).iloc[:,:6]
    vn30fm['t'] = vn30fm['t'].astype(int).apply(lambda x: datetime.utcfromtimestamp(x) + timedelta(hours = 7))
    vn30fm.columns = ['Date','Open','High','Low','Close','Volume']
    ohlc_dict = {                                                                                                             
        'Open': 'first',                                                                                                    
        'High': 'max',                                                                                                       
        'Low': 'min',                                                         
        'Close': 'last',                                                                                                    
        'Volume': 'sum',}
    vn30fm = pd.DataFrame(vn30()).iloc[:,:6]
    vn30fm['t'] = vn30fm['t'].astype(int).apply(lambda x: datetime.utcfromtimestamp(x) + timedelta(hours = 7))
    vn30fm.columns = ['Date','Open','High','Low','Close','Volume']
    return vn30fm.set_index('Date')
ohlc_dict = {                                                                                                                                                                                                                 
    'basis': 'mean',                                                                                                        
    'Close': 'last',                                                                                                    
    'Volume': 'sum',}
data2 = pd.DataFrame()
data2['Close'] = get_vn30f()['Close']
data2['Volume'] = get_vn30f()['Volume']
data2['Close_VN30'] = get_vn30()['Close']
data2 = data2.ffill()
data2['basis'] = data2['Close_VN30'] - data2['Close']
dataset1 = data2.drop_duplicates().dropna()
dataset2 = dataset1.reset_index()
dataset2['Date'] = pd.to_datetime(dataset2['Date'])
dataset2 = dataset2[['Date','Close', 'Volume', 'basis']]
dataset = dataset2.resample('1Min', on='Date', label='left').apply(ohlc_dict).dropna()
dataset['High'] = dataset2.resample('1Min', on='Date', label='left')['Close'].max().dropna()
dataset['Low'] = dataset2.resample('1Min', on='Date', label='left')['Close'].min().dropna()
dataset =dataset.reset_index()
dataset2['time'] = [str(i)[11:16] for i in dataset2['Date']]
dataset2['Date'] = [str(i)[:10] for i in dataset2['Date']]
dataset2
dataset2

              Date   Close  Volume  basis   time
0       2020-05-11   766.0     484   7.44  11:28
1       2020-05-11   765.0     594   8.34  11:29
2       2020-05-11   765.0      88   8.34  11:30
3       2020-05-11   760.5    2221  13.10  13:00
4       2020-05-11   762.0    1360  11.76  13:01
...            ...     ...     ...    ...    ...
161176  2023-01-03  1037.7    4105   3.30  14:27
161177  2023-01-03  1036.6    3504   4.31  14:28
161178  2023-01-03  1037.4    2997   3.94  14:29
161179  2023-01-03  1037.5     147   3.88  14:30
161180  2023-01-03  1045.5    9741   1.75  14:45

[161181 rows x 5 columns]

In [5]:
df = dataset2
# mask = (pd.to_datetime(df['time']) > pd.Timestamp('2022-11-21')) 
df['Date'] = pd.to_datetime(df['Date'] + ' ' + df['time'])
df

                      Date   Close  Volume  basis   time
0      2020-05-11 11:28:00   766.0     484   7.44  11:28
1      2020-05-11 11:29:00   765.0     594   8.34  11:29
2      2020-05-11 11:30:00   765.0      88   8.34  11:30
3      2020-05-11 13:00:00   760.5    2221  13.10  13:00
4      2020-05-11 13:01:00   762.0    1360  11.76  13:01
...                    ...     ...     ...    ...    ...
161176 2023-01-03 14:27:00  1037.7    4105   3.30  14:27
161177 2023-01-03 14:28:00  1036.6    3504   4.31  14:28
161178 2023-01-03 14:29:00  1037.4    2997   3.94  14:29
161179 2023-01-03 14:30:00  1037.5     147   3.88  14:30
161180 2023-01-03 14:45:00  1045.5    9741   1.75  14:45

[161181 rows x 5 columns]

In [6]:
df=df.drop('time',axis=1)
mask = (pd.to_datetime(df['Date']) > pd.Timestamp('2022-11-21 09:00:00')) 
df = df[mask]
df

                      Date   Close  Volume  basis
153650 2022-11-21 09:01:00   967.0    2310   4.20
153651 2022-11-21 09:02:00   967.4     975   3.80
153652 2022-11-21 09:03:00   966.8     722   4.40
153653 2022-11-21 09:04:00   966.1    1354   5.10
153654 2022-11-21 09:05:00   966.5     840   4.70
...                    ...     ...     ...    ...
161176 2023-01-03 14:27:00  1037.7    4105   3.30
161177 2023-01-03 14:28:00  1036.6    3504   4.31
161178 2023-01-03 14:29:00  1037.4    2997   3.94
161179 2023-01-03 14:30:00  1037.5     147   3.88
161180 2023-01-03 14:45:00  1045.5    9741   1.75

[7531 rows x 4 columns]

In [7]:
df3=df.rename(columns={"Date": "Time", "Close": "Close_Price","Volume":"Total_Volume","basis":"Vn30_Basis"})
# df['Security_Code']='VN30F1M'
df=df3
df['Trade_Date'] = [str(i)[:10] for i in df['Time']]
df

                      Time  Close_Price  Total_Volume  Vn30_Basis  Trade_Date
153650 2022-11-21 09:01:00        967.0          2310        4.20  2022-11-21
153651 2022-11-21 09:02:00        967.4           975        3.80  2022-11-21
153652 2022-11-21 09:03:00        966.8           722        4.40  2022-11-21
153653 2022-11-21 09:04:00        966.1          1354        5.10  2022-11-21
153654 2022-11-21 09:05:00        966.5           840        4.70  2022-11-21
...                    ...          ...           ...         ...         ...
161176 2023-01-03 14:27:00       1037.7          4105        3.30  2023-01-03
161177 2023-01-03 14:28:00       1036.6          3504        4.31  2023-01-03
161178 2023-01-03 14:29:00       1037.4          2997        3.94  2023-01-03
161179 2023-01-03 14:30:00       1037.5           147        3.88  2023-01-03
161180 2023-01-03 14:45:00       1045.5          9741        1.75  2023-01-03

[7531 rows x 5 columns]

In [8]:
df['Total_Volume'] = df.groupby('Trade_Date').cumsum()['Total_Volume']

/tmp/ipykernel_286166/1145270261.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['Total_Volume'] = df.groupby('Trade_Date').cumsum()['Total_Volume']

In [9]:
df

                      Time  Close_Price  Total_Volume  Vn30_Basis  Trade_Date
153650 2022-11-21 09:01:00        967.0          2310        4.20  2022-11-21
153651 2022-11-21 09:02:00        967.4          3285        3.80  2022-11-21
153652 2022-11-21 09:03:00        966.8          4007        4.40  2022-11-21
153653 2022-11-21 09:04:00        966.1          5361        5.10  2022-11-21
153654 2022-11-21 09:05:00        966.5          6201        4.70  2022-11-21
...                    ...          ...           ...         ...         ...
161176 2023-01-03 14:27:00       1037.7        301814        3.30  2023-01-03
161177 2023-01-03 14:28:00       1036.6        305318        4.31  2023-01-03
161178 2023-01-03 14:29:00       1037.4        308315        3.94  2023-01-03
161179 2023-01-03 14:30:00       1037.5        308462        3.88  2023-01-03
161180 2023-01-03 14:45:00       1045.5        318203        1.75  2023-01-03

[7531 rows x 5 columns]

In [10]:
import pandas as pd
import sqlalchemy
def create_pd():
    df = pd.DataFrame(columns=['Type','Security_Code','Exchange_Code','Security_Id','Security_Type','Listed_Shares','Time','Trade_Date','Ceiling_Price','Floor_Price','Ref_Price','Buy_Price1','Buy_Volume1','Buy_Price2','Buy_Volume2','Buy_Price3','Buy_Volume3','Sell_Price1','Sell_Volume1','Sell_Price2','Sell_Volume2','Sell_Price3','Sell_Volume3','Buy_Price4','Buy_Volume4','Buy_Price5','Buy_Volume5','Buy_Price6','Buy_Volume6','Buy_Price7','Buy_Volume7','Buy_Price8','Buy_Volume8','Buy_Price9','Buy_Volume9','Buy_Price10','Buy_Volume10','Sell_Price4','Sell_Volume4','Sell_Price5','Sell_Volume5','Sell_Price6','Sell_Volume6','Sell_Price7','Sell_Volume7','Sell_Price8','Sell_Volume8','Sell_Price9','Sell_Volume9','Sell_Price10','Sell_Volume10','Close_Price','Match_Volume','Match_Value','Diff','Diff_Rate','Open_Price','High_Price','Low_Price','Average_Price','Total_Volume','Total_Value','Match_Price_Pt','Match_Volume_Pt','Total_Pt_Volume','Total_Pt_Value','F_Buy_Volume','F_Buy_Volume_Last','F_Sell_Volume','F_Sell_Volume_Last','F_Buy_Value','F_Sell_Value','F_Room','F_Room_Pct','Total_Room','Buy_Order','Sell_Order','Total_Buy_Volume','Total_Sell_Volume','Remain_Buy','Remain_Sell','Open_Interest','Last_Trade_Date','Vn30_Basis','Stock_Basis','Balance_Price','INav','IIndex'])
    return df
df_m=create_pd()

df['Time'] = pd.to_datetime(df['Time'])
df = pd.concat([df_m,df])
df=df.fillna(0)
df['Security_Code']='VN30F1M'




query=f'''select * from realtime_ord_1m order by "Time"'''  
db_realtime=sqlalchemy.create_engine('postgresql://client1:finpros2022@192.168.110.17:9998/realtime_ps')
df2 = pd.read_sql_query(query,db_realtime)

df_same=df.merge(df2,how='inner',on="Time")
df=df[~df.Time.isin(df_same.Time)]
df['Time'] = pd.to_datetime(df['Time'])
# print(df.loc[pd.to_datetime(df['Time']).dt.date==(pd.Timestamp('2022-12-13').date())])
# df.to_csv('C:/Users/Kien/.spyder-py3/test.csv',index=False)

# df.to_sql('realtime_ord_1m', db_realtime,if_exists='append',index=False)
# df_same[df_same.Time=='12/13/2022 9:01']
df

Empty DataFrame
Columns: [Type, Security_Code, Exchange_Code, Security_Id, Security_Type, Listed_Shares, Time, Trade_Date, Ceiling_Price, Floor_Price, Ref_Price, Buy_Price1, Buy_Volume1, Buy_Price2, Buy_Volume2, Buy_Price3, Buy_Volume3, Sell_Price1, Sell_Volume1, Sell_Price2, Sell_Volume2, Sell_Price3, Sell_Volume3, Buy_Price4, Buy_Volume4, Buy_Price5, Buy_Volume5, Buy_Price6, Buy_Volume6, Buy_Price7, Buy_Volume7, Buy_Price8, Buy_Volume8, Buy_Price9, Buy_Volume9, Buy_Price10, Buy_Volume10, Sell_Price4, Sell_Volume4, Sell_Price5, Sell_Volume5, Sell_Price6, Sell_Volume6, Sell_Price7, Sell_Volume7, Sell_Price8, Sell_Volume8, Sell_Price9, Sell_Volume9, Sell_Price10, Sell_Volume10, Close_Price, Match_Volume, Match_Value, Diff, Diff_Rate, Open_Price, High_Price, Low_Price, Average_Price, Total_Volume, Total_Value, Match_Price_Pt, Match_Volume_Pt, Total_Pt_Volume, Total_Pt_Value, F_Buy_Volume, F_Buy_Volume_Last, F_Sell_Volume, F_Sell_Volume_Last, F_Buy_Value, F_Sell_Value, F_Room, F_Room_Pct, Total_Room, Buy_Order, Sell_Order, Total_Buy_Volume, Total_Sell_Volume, Remain_Buy, Remain_Sell, Open_Interest, Last_Trade_Date, Vn30_Basis, Stock_Basis, Balance_Price, INav, IIndex]
Index: []

[0 rows x 88 columns]

In [11]:
df[['Time','Total_Volume']]

Empty DataFrame
Columns: [Time, Total_Volume]
Index: []