In [1]:
import pandas as pd

In [5]:
def check_df(value):
    check_text = f"{value}"
    df = pd.read_csv('realtime_ord.csv')
    #check for text
    mask  = df['Security_Code'].str.match(check_text)
    
    if mask.any():
        return df.loc[mask]

In [6]:

def check_nan (callback):
    try:
        callback['Security_Code'].iloc[0][-2:]
        callback['time_2'] = [float(str(i)[-4:-2])*12 + float(str(i)[-2:]) for i in callback['Security_Code']]
        df1 = callback.groupby('Time').min()
        df2= df1.drop('time_2',axis=1)
        return True 
    except:
        return False
    
df=check_df('VN30F')
print(check_nan(df))

True

In [7]:
df['Security_Code'].iloc[0][-2:]
df['time_2'] = [float(str(i)[-4:-2])*12 + float(str(i)[-2:]) for i in df['Security_Code']]
df1 = df.groupby('Time').min()
df2= df1.drop('time_2',axis=1)
df2

,Type,Security_Code,Exchange_Code,Security_Id,Security_Type,Listed_Shares,Trade_Date,Ceiling_Price,Floor_Price,Ref_Price,...,Total_Sell_Volume,Remain_Buy,Remain_Sell,Open_Interest,Last_Trade_Date,Vn30_Basis,Stock_Basis,Balance_Price,INav,IIndex
Time,,,,,,,,,,,,,,,,,,,,,
2023-01-12 09:07:00,0,VN30F2301,Fu,1175,4,0,2023-01-12,1134.2,985.8,1060.0,...,0,0,0,2988.0,0,0,0,0,0,NaN

In [ ]:
import sqlalchemy
db_realtime=sqlalchemy.create_engine('postgresql://client1:finpros2022@192.168.110.15:6431/db_data',pool_pre_ping=True)
query=f'''select * from check_buy_sell()'''
df=pd.read_sql_query(query,db_realtime)