In [1]:
import pandas as pd

In [5]:
def check_df(value):
    check_text = f"{value}"
    df = pd.read_csv('realtime_ord.csv')
    #check for text
    mask  = df['Security_Code'].str.match(check_text)
    
    if mask.any():
        return df.loc[mask]

In [6]:

def check_nan (callback):
    try:
        callback['Security_Code'].iloc[0][-2:]
        callback['time_2'] = [float(str(i)[-4:-2])*12 + float(str(i)[-2:]) for i in callback['Security_Code']]
        df1 = callback.groupby('Time').min()
        df2= df1.drop('time_2',axis=1)
        return True 
    except:
        return False
    
df=check_df('VN30F')
print(check_nan(df))

True

In [7]:
df['Security_Code'].iloc[0][-2:]
df['time_2'] = [float(str(i)[-4:-2])*12 + float(str(i)[-2:]) for i in df['Security_Code']]
df1 = df.groupby('Time').min()
df2= df1.drop('time_2',axis=1)
df2

,Type,Security_Code,Exchange_Code,Security_Id,Security_Type,Listed_Shares,Trade_Date,Ceiling_Price,Floor_Price,Ref_Price,...,Total_Sell_Volume,Remain_Buy,Remain_Sell,Open_Interest,Last_Trade_Date,Vn30_Basis,Stock_Basis,Balance_Price,INav,IIndex
Time,,,,,,,,,,,,,,,,,,,,,
2023-01-12 09:07:00,0,VN30F2301,Fu,1175,4,0,2023-01-12,1134.2,985.8,1060.0,...,0,0,0,2988.0,0,0,0,0,0,NaN

In [2]:
import sqlalchemy
import pandas as pd
# db_realtime=sqlalchemy.create_engine('postgresql://client1:finpros2022@192.168.110.15:6431/db_data',pool_pre_ping=True)
# query=f'''select * from check_buy_sell()'''
# df=pd.read_sql_query(query,db_realtime)

In [4]:
db_realtime=sqlalchemy.create_engine('postgresql://eros:erosnguyen123@192.168.110.17:5435/stockdata',pool_pre_ping=True)
query=f'''select * from "VN_EOD" order by "DATE" ''' # thay VN_EOD = VN_INTRADAY de theo tick
df=pd.read_sql_query(query,db_realtime)
df

   SYMBOL                 DATE   OPEN   HIGH    LOW  CLOSE  VOLUME  OPENINT
0     LBM  2007-09-21 00:00:00   7.95   8.09   7.95   8.09   39260        0
1     TKU  2007-09-21 00:00:00   7.14   7.14   7.14   7.14     200        0
2     SAM  2007-09-21 00:00:00  22.07  22.07  21.93  22.07  110980        0
3     EBS  2007-09-21 00:00:00   6.48   6.74   6.47   6.63   14000        0
4     TTC  2007-09-21 00:00:00   8.38   8.38   8.29   8.29    6650        0
..    ...                  ...    ...    ...    ...    ...     ...      ...
95    CLC  2007-09-24 00:00:00   5.38   5.38   5.17   5.17    9440        0
96    CTB  2007-09-24 00:00:00   4.52   4.52   4.51   4.51    2800        0
97    VNC  2007-09-24 00:00:00   9.05   9.05   8.18   8.83   40200        0
98    SAM  2007-09-24 00:00:00  21.93  22.52  21.93  22.52   96640        0
99    ALT  2007-09-24 00:00:00  30.79  30.79  29.25  30.61   52450        0

[100 rows x 8 columns]